MONGODB_URI=MONGODB_URI=mongodb+srv://jess_db_user:djNJnQxMYs%407465@bemydate.4bzcbyc.mongodb.net/?appName=bemydate
EMAIL_USER=jklorania.ph@gmail.com
EMAIL_PASS=tbmmalophpbsnvrb
FRONTEND_URL=https://hibemydate.netlify.app
